@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    vertical-align: middle;
  }

  .glass-card {
    background: rgba(53, 52, 54, 0.4);
    backdrop-filter: blur(20px);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
